<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
			colors="true"
			testdox="true"
			stopOnFailure="false"
			executionOrder="default"
			displayDetailsOnTestsThatTriggerDeprecations="true"
>
	<php>
		<env name="DB_HOST" value="localhost" />
		<env name="DB_NAME" value="pusher" />
		<env name="DB_USERNAME" value="root" />
		<env name="DB_PASSWORD" value="" />
	</php>
	<testsuites>
		<testsuite name="default">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
